.hero {
  @include bgImg('./img/bg.svg', center, 90%);

  height: 100vh;

  @media (--laptopMin) {
    position: relative;
    z-index: 10;
    background: none;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  animation: animation 2s linear 0.8s both;

  @media (--laptopMin) {
    position: relative;

    flex-direction: row;

    animation: none;
  }
}

.block-img {
  width: 100%;

  @media (--laptopMin) {
    @include bgImg('./img/bg.svg', center -132px, 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 524px;
    height: 656px;
  }

  .bg-img {
    @include bgImg('./img/bg-city.png', center, contain);

    width: 100%;
    height: 374 * 0.8#{'px'};
    margin-bottom: 20px;

    @media (--mobileSm) {
      height: 374px;
      margin-bottom: 42px;
    }

    @media (--laptopMin) {
      width: 538px;
      height: 536px;
      margin-bottom: 0;

      background-image:
        image-set('./img/bg-city-desk.png'1x,
          './img/bg-city-desk@2x.png'2x);
    }
  }
}

.block-text {
  width: 600px;
  margin-left: 130px;

  @media (--desktop) {
    margin-left: 180px;
  }

  .static {
    @include em(150, 150);

    color: #204c3d;
    font-weight: 900;
    text-transform: uppercase;
  }

  .animation {
    position: relative;
    height: 130px;

    &_item {
      @include em(110, 130);

      position: absolute;
      top: 0;
      left: 0;

      color: #7ab62d;
      font-weight: 700;
      text-transform: uppercase;

      &:nth-child(2) {
        color: #ee4254;
      }

      &:nth-child(3) {
        color: #eaaa19;
      }

      .text-wrapper {
        position: relative;
        display: inline-block;
        overflow: hidden;
      }

      .letter {
        display: inline-block;
        // opacity: 0;
      }
    }
  }
}


.text {
  @include em(20, 22);

  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.953659px;

  opacity: 0.6;

  @media (--laptopMin) {
    position: absolute;
    left: 66px;
    bottom: 56px;

    opacity: 1;
  }
}

.bg-pattern {
  @include bgImg('../../img/bg-pattern-desk.svg', -62px 0, 710px);

  position: absolute;
  top: 34%;
  right: 0;

  width: 50%;
  height: 680px;

  transform: scaleX(-1);
  opacity: 0.4;

  @media (--laptopLg) {
    top: 42%;
    background-position-x: 0;
  }

  @media (--desktop) {
    top: 14%;
    height: 1100px;
    background-size: 1100px;
    background-position-x: 120%;
  }

  @media (--desktop1860) {
    top: 24%;
  }
}

@keyframes animation {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 200, 0, 1);
    opacity: 0;
  }

  4.5% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 102.947, 0, 1);
    opacity: 0.2;
  }

  9.01% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 24.004, 0, 1);
    opacity: 0.4;
  }

  13.51% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -17.484, 0, 1);
    opacity: 0.6;
  }

  17.92% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -27.844, 0, 1);
    opacity: 0.8;
  }

  29.03% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -6.457, 0, 1);
    opacity: 1;
  }

  34.63% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.186, 0, 1);
  }

  40.14% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.085, 0, 1);
  }

  62.36% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.342, 0, 1);
  }

  84.68% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.038, 0, 1);
  }

  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
