$font: 'Gilroy', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// Color
$green: #6fa626;
$green-dark: #204c3d;
$orange: #ea8119;
$orange-light: #ecac19;
$orange-dark: #dc590c;
$red: #e23f50;
$blue: #7fd7f9;
$grey: #c4c4c4;
$purple: #d034cb;
$purple-dark: #9d58e9;

$trans: all 0.35s ease-in-out;
$trans-slow: all 0.65s ease-in-out;